@import '../../global.styl'

.input
  display block

  width 100%
  height 30px
  padding 0 10px

  font-size 15px

  border 1px solid color-light-gray-for-borders
  border-radius 15px

  &::placeholder
    color color-light-gray-for-placeholders