@import '../../global.styl'

.add-record-form
  position absolute
  z-index 2000

  top -500px
  margin 50px 0 0 0
  padding 0 0 20px 0
  width 100%

  background-color color-white
  box-shadow 0 8px 8px -8px color-light-gray-for-shadows

  transition 1s

  &_opened
    top 0

  &__field
    margin 0 20px 15px 10px

  &__input
    display block

    width 400px
    height 30px
    margin 5px 0 0 -10px
    padding 0 10px

    font-size 15px

    border 1px solid color-light-gray-for-borders
    border-radius 15px

    &::placeholder
      color color-light-gray-for-placeholders

  &__button
    height 30px
    margin 10px 0
    padding 0 15px

    border none
    border-radius 15px

    background-color color-light-gray
    color color-white

    transition 0.5s

    &:hover
      cursor pointer

      background-color color-light-gray-for-hover

    &:disabled
      opacity 0.5

      &:hover
        cursor default

        background-color color-light-gray

  &__tip
    font-size 14px

    color color-red