color-light-green = #2af598

color-white = #fff

color-red = #ee6767

color-light-blue = #009efd

color-turquoise = #00d4ff

color-terracotta = #cd3a3a

color-gray = #808080
color-light-gray = #afafaf
color-light-gray-for-hover = #a1a1a1
color-light-gray-for-shadows = #aaa7a7
color-light-gray-for-borders = #c9c9c9
color-light-gray-for-placeholders = #dbdbdb

gradient-light-green-to-turquoise = linear-gradient(90deg, color-light-green 0%, color-turquoise 60%)