color-light-green = #2af598

color-white = #fff

color-light-blue = #009efd

color-light-gray = #b4b4b4
color-light-gray-for-hover = #a1a1a1
color-light-gray-for-shadows = #aaa7a7
color-light-gray-for-borders = #c9c9c9
color-light-gray-for-placeholders = #dbdbdb