@import '../../global.styl'

.control-panel
  position relative

  padding 0 0 10px

&__buttons-bar 
    display flex
    position relative

    align-items center

    z-index 2001

    background-color color-white

&__button
    display flex

    width 200px
    height 40px
    margin 0 10px 0 0

    border none
    border-radius 20px

    background-color color-light-green
    color color-white

    font-size 20px
    
    align-items center
    justify-content center

    transition .5s

    &_active
        background-color: color-light-blue

    &:hover
        cursor pointer

        background-color color-light-blue
    
    &:disabled
        opacity .5
    
        &:hover
            cursor default

            background-color color-light-green

&__input-form
    position absolute
    z-index 2000

    top -500px
    margin 50px 0 0 0
    padding 0 0 20px 0
    

    background-color color-white
    color color-light-gray
    box-shadow 0 8px 8px -8px color-light-gray-for-shadows

    transition 1s

    &_opened
        top 0

&__input-box
    display inline-block

    margin 0 20px 0 10px

&__input-field
&__input 
    display block

&__input
    width 400px
    height 30px
    margin 5px 0 0 -10px
    padding 0 10px
    
    font-size 15px

    border 1px solid color-light-gray-for-borders
    border-radius 15px

    &::placeholder
        color color-light-gray-for-placeholders

&__input-form-button
    height 30px;
    padding 0 15px;

    border none
    border-radius 15px

    background-color color-light-gray
    color color-white

    transition .5s

    &:hover
        cursor pointer

        background-color color-light-gray-for-hover

.button-icon 
    width 20px
    height 20px

    margin 0 10px 0 -10px

    fill color-white