@import '../../global.styl'

.control-panel
  position relative

  padding 0 0 10px

  &__buttons-bar
    position relative

    align-items center

    z-index 2001

    background-color color-white

  &__button
    display flex

    width 200px
    height 40px
    margin 0 10px 0 0

    border none
    border-radius 20px

    background-color color-light-green
    color color-white

    font-size 20px

    align-items center
    justify-content center

    transition 0.5s

    &_active
      background-color color-light-blue

    &:hover
      cursor pointer

      background-color color-light-blue

.button-icon
  width 20px
  height 20px

  margin 0 10px 0 -10px

  fill color-white