.control-panel {
    position: relative;

    padding: 0 0 10px;
}

.control-panel__buttons-bar {
    display: flex;
    position: relative;

    align-items: center;

    z-index: 2001;

    background-color: #fff;
}

.control-panel__button {
    display: flex;

    width: 200px;
    height: 40px;
    margin: 0 10px 0 0;

    border: none;
    border-radius: 20px;

    background-color: #2af598;
    color: #fff;

    font-size: 20px;
    
    align-items: center;
    justify-content: center;

    transition: .5s;
}

.control-panel__button:hover {
    cursor: pointer;

    background-color: #009efd;
}

.control-panel__button:disabled {
    opacity: .5;
}

.control-panel__button:disabled:hover {
    cursor: default;

    background-color: #2af598;
}

.control-panel__button_active {
    background-color: #009efd;
}

.button-icon {
    width: 20px;
    height: 20px;

    margin: 0 10px 0 -10px;

    fill: #fff;
}

.control-panel__input-form {
    position: absolute;

    top: -500px;
    margin: 50px 0 0 0;
    padding: 0 0 20px 0;
    z-index: 2000;

    background-color: #fff;
    color: #b4b4b4;
    box-shadow: 0 8px 8px -8px #aaa7a7;

    transition: 1s;
}

.control-panel__input-form_opened {
    top: 0;
}

.control-panel__input-box {
    display: inline-block;

    margin: 0 20px 0 10px;
}

.control-panel__input-field,
.control-panel__input {
    display: block;
}

.control-panel__input {
    width: 400px;
    height: 30px;
    margin: 5px 0 0 -10px;
    padding: 0 10px;
    
    font-size: 15px;

    border: 1px solid #c9c9c9;
    border-radius: 15px;
}

.control-panel__input::placeholder {
    color: #dbdbdb;
}

.control-panel__input-form-button {
    height: 30px;
    padding: 0 15px;

    border: none;
    border-radius: 15px;
    background-color: #b4b4b4;
    color: #fff;

    transition: .5s;
}

.control-panel__input-form-button:hover {
    cursor: pointer;

    background-color: #a1a1a1;
}