@import '../../global.styl'

.phone-book
  &__control-panel
    position relative

  &__buttons-bar
    position relative
    z-index 2001

    margin 0 0 0 -20px
    padding 0 0 0 20px

    align-items center

    background-color color-white

  &__search-input
    margin-top 20px
    width 100%
    height 40px
    box-sizing border-box

    border-radius 20px

.button
  display flex

  width 200px
  height 40px
  margin 0 10px 0 0

  border none
  border-radius 20px

  background-color color-light-green
  color color-white

  font-size 20px

  align-items center
  justify-content center

  transition 0.1s

  &_active
    background-color color-light-blue

  &__icon
    width 20px
    height 20px
    margin 0 10px 0 -10px

  &:hover
    cursor pointer

    background-color color-light-blue